body {
    margin: 0;
    padding: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    right: 28px;
    width: 280px;
}
  
/* The popup form - hidden by default */
.form-popup {
display: none;
position: fixed;
top: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
.form-container .New {
    background-color: blue;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

nav a.inuse {
    font-size: 200px;
}

footer {
    background-color: #dce4f2;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.navbar_menu {
    display: inline-block;
    padding: 20px 50px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
}

.navbar_menu:hover {
    background-color: #ddd;
    cursor: pointer;
    color: #888;
}

.navbar_menu_selected {
    background-color: #aaa;
}

.nav_link {
    text-decoration: none;
}

.facility-div {
    display: inline-block;
    height: 350px;
    width: 150px;
    text-align: center;
}
.facility-image {
	height:150px;
	width:150px;
	max-height:100%;
	max-width:100%;
}
.facility-para {
	height: 150px;
	width: 150px;
	position: absolute;
}
.facility-div h2 {
    display: inline-block;
}

.facility_content {
    display: inline-block;
}

#container {
    height: auto;
}

#navbar {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 85.5%;
}

#logo_div {
    display: inline-block;
    margin: 0 2%;
    vertical-align: middle;
    width: 10%;
}

#logo {
    width: 60px;
}

#sub-menu {
    width: 100%;
    padding: 20px 0px 0px 0px;
}

#ul-sub-menu {
    list-style-type: none;
    padding: 0;
}

#ul-sub-menu li {
    display: inline-block;
    margin-right: 5%;
}

#ul-sub-menu li:first-child {
    margin: 0px 5%;
}

#container2 {
    background: url("../assets/marathon.jpg");
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    /* position: relative; */
}

#div_rates {
    background-color: rgba(50, 50, 50, 0.9);
    width: 100%;
    padding-bottom: 50px;
}

#show_rates {
    width: 1100px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0px;
}

#show_rates h1 {
    width: 1100px;
    margin: 0 auto;
    color: #ffffff;
    padding: 10px 0px;
}

#show_rates table {
    text-align: center;
    /* width:1095px; */
    width: 100%;
}

#show_rates table th {
    font-size: 25px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #fa4251;
}

#show_rates table td {
    font-size: 20px;
    border-radius: 5px;
}

#show_rates table tbody {
    color: #eeeeee;
}

#footer_div {
    width: 1100px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0px;
}

#footer_div h1 {
    margin: 0 auto;
    color: #000;
    padding: 10px 0px;
    margin-bottom: 20px;
}

#footer-first {
    width: 25%;
    display: inline-block;
    color: #737373;
    font-size: 18px;
}

#footer-second {
    margin-left: 50px;
    width: 33%;
    display: inline-block;
}

#footer-second h2 {
    color: #000;
    margin-bottom: 10px;
}
#footer-second p {
    color: #000;
    margin-bottom: 5px;
}

#footer-logo {
    width: 100px;
}

#footer-third {
    display: inline-block;
}

#footer-third h2 {
    color: #000;
    margin-bottom: 5px;
}

#footer-third img {
    height: 140.984px;
    width: 400px;
}

#signup-div {
    height: 67vh;
    background-color: #d1d1d1;
}

#signup-inside { 
    width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}

#password_error {
    display: none;
}

#my-account-div {
    min-height: 67vh;
    padding-bottom: 30px;
    background-color: #d1d1d1;
}

#my-account-inside { 
    width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
}

#my-account-inside h1 {
    margin-bottom: 20px;
}

#sidebar {
    display: inline-block;
    width: 30%;
    background-color: #c0c0c0;
    border: 5px solid #aaaaaa;
    border-radius: 5px;
}

#ul-sidebar {
    list-style-type: none;
    padding: 0;
}

#ul-sidebar a {
    text-decoration: none;
    color: black;
}

#ul-sidebar a:visited {
    text-decoration: none;
    color: black;
}

#ul-sidebar li {
    margin: 0px 5%;
    color: #000;
}

#ul-sidebar li a.selected {
    margin: 0;
    color: red;
}

#my-account-content {
    display: inline-block;
    width: 69%;
    vertical-align: top;
    background-color: #eeeeee;
    border: 5px solid #aaaaaa;
    border-radius: 5px;
    padding: 20px 20px;
}

#show-profile table {
	border: 0;
	width: 100%;
	text-align: left;
}

#show-profile table tr:nth-child(odd){
	background-color: grey;
}
#show-profile table td{
	padding: 8px;
}
#show-profile table td:first-child{
	width: 40%;
}
#show-booking table {
	border: 0;
	width: 100%;
	text-align: left;
}
#show-booking table td:first-child {
	width: 50%;
}
#show-booking table tr:first-child{
	background-color:grey;
}
#facility-booking-content {
    display: inline-block;
    width: 69%;
    vertical-align: top;
    background-color: #eeeeee;
    border: 5px solid #aaaaaa;
    border-radius: 5px;
    padding: 20px 20px;
}

#facility-booking-content h1 {
    color: #333333;
}

@media only screen and (min-width: 1100px) {
    #container {
        width: 1100px;
        margin: 0 auto;
    }

    #show_rates {
        width: 1100px;
        margin: 0 auto;
        color: #ffffff;
    }

    #nav_container {
        width: 1100px;
        margin: 0 auto;
    }
}
